{block content}
<h1 n:block=title>Sign in</h1>
<small>Jméno je "admin" a heslo je "heslo". Ostatní uživatelé se také mohou přihlašovat.</small>

{control signInForm}

{* OR
{import '../components/form.latte'}
{include form signInForm}
*}


